.container {
  position: relative;
  
}

.container input[type="radio"] {
  position: absolute;
}

input[type="radio"] + span {
  position:absolute;
  width:200px;
  color:transparent;
}
input[value="Completely"] {
  top:35px;
  left:75px;
}

input[value="Completely"] +span{
  top:35px;
  left:80px;
}

input[value="Mostly"] {
  top:99px;
  left:110px;
}

input[value="Mostly"] + span{
  top:99px;
  left:115px;
}

input[value="Somewhat"] {
  top:240px;
  left:144px;
}

input[value="Somewhat"] + span{
  top:240px;
  left:149px;
}

input[value="Not very"] {
  top:382px;
  left:178px;
}

input[value="Not very"] + span {
  top:382px;
  left:183px;
}


input[value="Doesn't apply to me"] {
  top:475px;
  left:213px;
}


input[value="Doesn't apply to me"] + span{
  top:475px;
  left:218px;
}

